<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Saju</title>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/static/img/favicon/favicon.ico}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">


    <!-- jquery -->
    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <!-- dayJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.11/dayjs.min.js"></script>

    <!-- Common css -->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/common_css.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/common_v2.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">

    <!-- select2 - selectBox API -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/60d85a80ee.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- <div class="container body-wrapper"> -->
<div class="new-container" id="container">
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
<!--    <th:block th:replace="/static/js/common_script.html"></th:block>-->

    <!-- Header Title -->
    <div class="title-wrap center">
        <img th:src="@{/static/img/icon/logo.svg}">
    </div>

    <!-- 컨텐츠영역 new -->
    <div class="new-content-area">
<!--        <div th:replace="~{../custom/{viewName}.html}"></div>-->
        <div th:replace="~{custom/${viewName}.html}"></div>
    </div>

    <!-- footer 하단 버튼 바 추가 -->
    <footer class="footer-area">
<!--        <th:block th:replace="~{footer.html}"></th:block>-->
    </footer>

</div>


<script>
    // 로딩 함수 호출 함수
    function uiProgress(_sel, status) {
        if(status) {
            var html = '<div class="loader-wrapper">';
            html += '<div id="loader" class="loader"></div>';
            html += '</div>';
            $(_sel).append(html);
        } else {
            $(".loader-wrapper").remove();
        }
    }

    // history back
    function goToback() {
        window.history.back();
    }

    let modalIdx = 0;
    // open modal
    function openModal(_modalName) {
        modalIdx++;
        document.querySelector("#container").innerHTML += '<div class="modal-layout" id="modal_'+modalIdx+'" tabindex="-1" role="dialog" aria-labelledby="commonModalLabel" aria-hidden="true"></div>';
        $('#modal_'+modalIdx).load(_modalName);
    }

    // close modal
    function closeModal(_this) {
        $(_this).parents(".modal-layout")[0].remove();
    }
</script>




</body>
</html>