@charset "UTF-8";

/* 얇은 글씨 */
@font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 굵은 글씨 */
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 잠실 글씨 */

@font-face {
    font-family: 'TheJamsil1Thin';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil1Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil2Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil3Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil4Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil4Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil6ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil6ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


body {
    background-color: #f7f7f7 !important;
	font-family: 'TheJamsil3Regular !important';
    overflow-x: hidden; 
    overflow-y: scroll; 
    font-weight: 200 !important;
    font-style: normal !important;
}

.container {
	padding : 0 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, th, button, .btn, .bold {
    font-family: 'TheJamsil5Bold';
}

.container {
    height: 100vh;
}

/* flex 영역 */
.div-flex-wrap {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
.div-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
	margin: auto;
    width: 100%;

}

/*  table common css */
table {
    width: 100%;
    border-collapse: collapse;
}
table td {
	padding: 5px;
	vertical-align: middle;
}



/* common css */

/* text */
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}

/* display */
.block {display: block;}

/* width */
.wd-10p {width: 10% !important;}
.wd-20p {width: 20% !important;}
.wd-30p {width: 30% !important;}
.wd-40p {width: 40% !important;}
.wd-50p {width: 50% !important;}
.wd-60p {width: 60% !important;}
.wd-70p {width: 70% !important;}
.wd-80p {width: 80% !important;}
.wd-90p {width: 90% !important;}
.wd-100p {width: 100% !important;}

.wd-200{width: 200px !important;}


/* margin */
.mgt-10 {margin-top: 10px;}
.mgt-20 {margin-top: 20px;}

.mgr-5 {margin-right: 5px;}

/* flex */
.f1 { flex : 1;}
.f2 { flex : 2;}
.f3 { flex : 3;}
.f4 { flex : 4;}
.f5 { flex : 5;}
.f6 { flex : 6;}
.f7 { flex : 7;}
.f8 { flex : 8;}
.f9 { flex : 9;}


/* 내부 요소  */
.content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 700px;
 	border-top: 1px solid #d4d4d4;
 	border-bottom: 1px solid #d4d4d4;
}
input.ipt , select.ipt {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%
}
.ipt-radio {
	margin-right: 10px;
}
.logo {
    margin: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.ipt-radio-label {
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.ipt-radio-label:first-of-type {
    margin-right: 10px;
}

/* 기본 버튼 */
.btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: 4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
/*    font-size: 16px;*/
    transition: background-color 0.3s, border-color 0.3s;
}
.btn:hover {
	background-color: #45a049;
	color : white !important;
}

/*조회하기 버튼*/
.result-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    height: auto;
    text-align: center;
    margin: 0;
}
.result-btn:hover{
    background-color: #45a049;
}

/* info 영역 border 삭제 */
.info-table th, .info-table td {
	padding: 0.1rem !important;
	vertical-align: middle;
	border: none; /* 모든 테두리 제거 */
	text-align:left;
}
/* th 영역은 최소 너비만 차지하도록 */
.info-table th {
    white-space: nowrap;
    min-width: 100px;
}
/* 기본 부트스트랩 margin 삭제 */
.info-table {
	margin-bottom: 0 !important;
}


/* SAJU2 이미지 불러오기 */
/* 천간 */
.saju-img {
    font-family: hanja;
    font-size: 2em;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
}


.saju-img.saju-green  { background : green;}
.saju-img.saju-red  { background : red;}
.saju-img.saju-yellow  { background : #ffc107;}
.saju-img.saju-white  { background : white; color: black; border: 1px solid black;}
.saju-img.saju-black { background : black;}


/* 스크롤 색상 */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #4CAF50;
}
::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
}
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 10px;
}

/* 로딩중 애니메이션 */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9d9d9d8a;
    z-index: 999;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #4CAF50;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* API CSS */
.select2-container{
    height: 38px !important;
    width: 100% !important; /* 너비를 100%로 설정하여 반응형으로 만듦 */
}
.select2-container .select2-selection--single {
    height: 38px !important;
    width: 100% !important; 
}
.select2-results__option--highlighted {
    background-color: #4CAF50 !important;
    color: white;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 38px !important;
    text-align: left;
}
.select2-dropdown {
    border-radius: 5px; /* 드롭다운 메뉴의 모서리를 둥글게 */
    border: 1px solid #ccc; /* 테두리 설정 */
    max-height: 150px; /* 드롭다운 최대 높이 설정 */
}
.select2-container--default .select2-results>.select2-results__options {
	max-height: 150px !important;
}
.select2-selection {
/*    padding: 5px !important;*/
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
}
/* 드롭다운 리스트의 스타일 설정 */
.select2-container--default .select2-dropdown {
    width: 100%; /* 너비를 100%로 설정하여 반응형으로 만듦 */
}
.select2-container--default .select2-results__option {
    padding: 10px; /* 각 항목의 내부 여백 설정 */
    font-size: 14px; /* 폰트 크기 */
}
.select2-container--default .select2-results__options {
    max-height: 200px; /* 원하는 높이 설정 */
    overflow-y: auto; /* 스크롤 설정 */
}
