@charset "UTF-8";

/* 컬러 변수 선언 */
:root {
	--main-color: #4B4B4B; 
	--black-color: #333; 
	--white-color: #fff;
	--gray-color: #ddd;
	
	--saju-red: #E60000; 
	--saju-green: #009C2C; 
	--saju-yellow: #D0AF00; 
	
	--saju-body-font-size: 14px;
}

/* 공통 */
* {margin: 0; padding: 0; box-sizing: border-box; word-break: keep-all; font-size: var(--saju-body-font-size);}
a, a:visited {color: var(--black-color);}
h1 {font-family: var(--bs-body-font-family);}
h2, h3, h4, h5, h6 {font-family: var(--bs-body-font-family);
    font-size: var(--saju-body-font-size); font-weight: 200;}
button, input, optgroup, select, textarea  {
	font-family: var(--bs-font-sans-serif);
}
.div-flex-wrap {align-items: flex-start;}
.flex-center {
	display: flex; align-items: center; justify-content: center;
}
.flex-space-btween {
	display: flex; flex-direction: column; align-items: center; justify-content: space-between;
}
.flex-space-btween-row {
	display: flex; align-items: center; justify-content: space-between;
}
.flex-space-around {
	display: flex; flex-direction: column; align-items: center; justify-content: space-around;
}
.flex-space-around-row {
	display: flex; align-items: center; justify-content: space-around;
}
.flex-start {
	display: flex; align-items: center; justify-content: start;
}

/* 텍스트 디자인 */
.text_black {color: var(--black-color)!important;}
.text_red {color: var(--saju-red)!important;}
.text_green {color: var(--saju-green) !important;}
.text_yellow {color: var(--saju-yellow)!important;}
.text_white {color: var(--white-color)!important; text-shadow: 0 0 3px #000;}

/* button 디자인 */
.text-btn {background-color: transparent; border: none;}
.search-btn {width: 100%; height: 45px; 
display: flex; align-items: center; justify-content: center;
border-radius: 5px; border: none; 
color: var(--white-color); background-color: var(--main-color);}
.back-btn {border: 0; background-color: var(--main-color); border-radius: 50%; color: #fff; text-align: center;}
.back-btn > i {display: flex ; width: 20px; height: 20px; align-items: center; justify-content: center;}
.big .back-btn > i {width: 30px; height: 30px;}

/* 체크박스 디자인 */
input[type="checkbox"] {position: relative;
    width: 0; margin-left: 18px;}
input[type="checkbox"]:before {
	font-family: "Font Awesome 6 Free";
    font-weight: 400;
    font-size: 12px;
    
    content: "\f0c8";
    position: absolute; 
    top: calc(50% + 1px); left: -13px; transform: translateY(-50%);
}
input[type="checkbox"]:checked:before { content: "\f14a";}

/* text radio 디자인 */
.radio-wrap {position: relative;}
.text-radio {width: 0; position: absolute;}
input[type="radio"].text-radio + label {padding: 5px 15px; 
border: 1px solid var(--gray-color);
cursor: pointer;}
input[type="radio"].text-radio:checked + label {
	border: 1px solid var(--gray-color);
	background-color: var(--gray-color); }


/* 인풋 박스 디자인 */
input[type="text"],
input[type="password"] {
	display: inline-block;
    padding: 2px 12px;
    border-radius: 5px;
    border: 1px solid var(--gray-color);
}
input[type="text"]:focus,
input[type="password"]:focus {border: 2px solid var(--main-color);}

/* ============================================= */

/* 레이아웃 */
html, body {width: 100%; height: 100%; 
	display: flex;
    flex-direction: column;
    align-items: center;}
.new-container {
	max-width: 480px; width: 100%; min-height: 100%; 
	display: flex;
    flex-direction: column;
    align-items: center;
	background-color: var(--white-color);}
/*레이아웃 내 영역 구분*/
.new-container > [class$="area"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* footer - 하단메뉴바 */
.footer-area {height: 75px; border-top: 1px solid #bbb;}
.footer-manu-bar {width: 100%; display: flex; align-items: center; justify-content: space-between; height: 100%;}
.footer-btn {min-width: 25%; height: 100%; 
font-size: 18px;
display: flex; align-items: center; flex-direction: column; justify-content: center;}
.footer-btn > i {margin-bottom: 3px;}
.footer-btn > span {font-size: 12px;}
.footer-btn > img {display: block; height: 24px;}

/* 레이아웃 - 컨텐츠 영역 */
.new-content-area {
	overflow: auto;
	height: calc(100% - 75px);
	padding: 20px 0;}

/* 컨텐츠 영역의 full layout(defualt) */
.content-layout {width: 100%; min-height: 100%; display: flex; flex-direction: column; align-items: center;}
.content-layout.pd {width: 95%; padding: 0 20px; box-sizing: border-box;}

/* 컨텐츠 타이틀 영역 */
.content-layout .title-wrap {display: flex; align-items: center; flex-direction: column; padding: 0 20px; 
width: 100%; text-align: left; margin-bottom: 40px; height: 60px;}
.content-layout .title-wrap > h1 {font-size: 35px; width: 100%; margin-bottom: 0;}
.content-layout .title-wrap > h2 {margin-top: 8px;}

.content-layout .title-wrap.center {margin-bottom: 80px; height: auto;}
.content-layout .title-wrap.center > h1 {text-align: center;}

/* 컨텐츠 컨텐츠 영역 */
.content-layout .content-wrap {width: 100%;}
.content-layout .content-wrap > div[class$="-cont"] {margin-bottom: 20px;}
.content-layout input[type="text"],
.content-layout input[type="password"] {width: 100%; height: 35px;}

.detail-bar {background-color: var(--black-color); color: var(--white-color); font-size: 14px; font-weight: 600; 
padding: 0 10px; height: 40px; display: flex; align-items: center; justify-content: space-between; cursor: pointer;}




/*
	사주 조회 결과
*/
/* 상단 영역(타이틀, 사용자 정보) */
.user-wrap {display: flex; align-items: center; width: 100%; padding: 0 20px 20px 20px;}
.user-wrap .user-img {width: 80px; height: 80px; overflow: hidden; border-radius: 50%;}
.user-wrap .user-img {width: 80px; height: 80px; text-align: center;}
.user-wrap .user-img > img {height: 100%; object-fit: cover; object-position: center;}
.user-wrap .user-info {width: calc(100% - 80px); padding: 0 20px;}
.user-wrap .user-info > span {display: block; font-size: 14px;}
.user-wrap .user-info .user-nm {font-size: 20px;}
.user-wrap .user-info .user-year {}
.user-wrap .user-info .user-birth {}

/* 하단 영역(컨텐츠) */
.content-wrap {}
.content-wrap > div[class$="-cont"] {margin-bottom: 15px;}

/* 대운 */
.daeun-cont.on {display: block;}
.daeun-cont {display: none;}
.daeun-wrap {padding: 10px; }
.daeun-wrap .daeun-title {font-weight: 600; margin-bottom: 8px;}
.daeun-wrap .daeun-cont-set {display: flex; justify-content: center;} /* 나란히 정렬 */
.daeun-wrap .daeun-cont-set-flex {display: flex; align-items: center; justify-content: center;} /* 가운 정렬 */
.daeun-wrap .daeun-line {width: 40px; overflow: hidden;}

.daeun-line .daeun-small-title {}
.daeun-line .daeun-small-title > span {display: block; padding: 2px 0; text-align: center; font-size: 10px;}
.daeun-line .daeun-in {background-color: #F4F4F4; display: flex; flex-flow: column; align-items: center; justify-content: center; width: 100%; height: 54px; margin: 2px; border-radius: 5px;}
.daeun-line .daeun-in .daeun-strong {font-size: 20px; font-weight: 600;}
.daeun-line .daeun-in > span {display: block; text-align: center;}
.daeun-line .daeun-in .daeun-small {font-size: 10px;}


/* 팔자 */
.palja-cont {}
.palja-cont .content-area {}
.palja-cont .info-table {width: 100%; table-layout: fixed;}
.palja-cont .content-area th,
.palja-cont .content-area td {text-align: center; vertical-align: middle; border: 1px solid #ccc; border-width: 1px;} 
.palja-cont .info-table .lunar_title {height: 20px;}
.palja-cont .info-table .lunar_title th {font-weight: 400; font-family: initial;}
.palja-cont .info-table .lunar_title th:not(:farst-of-type),
.palja-cont .info-table .lunar_title th:not(:last-of-type) {border-color: transparent; border: none;}

.palja-cont .info-table .lunar_cont_top td {height: 80px; font-size: 24px; font-weight: 600;}
.palja-cont .info-table .lunar_cont_bottom td {height: 20px;}


/* 달력 */
/* CSS 달력  */
.calendar-container {
	width: 100%;
}

#resultCalendar {
	padding: 5px;
}

.calendar-header {
	display: flex;
	justify-content: center;
	margin: 20px 20px 10px 20px;
	font-size: 20px;
	align-items: center;
}

#calendar {
	max-width: 1200px;
	margin: 20px;
}

/* #currentDate에 flex-grow: 1을 사용하여 가능한 공간을 모두 차지하게 하고 텍스트를 중앙에 정렬. */
#currentDate {
    text-align: center;
    font-size: 36px;
    line-height: 1;
}

/*월 변경 버튼*/
.cal-btn {
	color: #ccc;
	border: none;
	border-radius: 4px;
	padding: 5px 20px;    
	background-color: transparent;
	transition: background-color 0.3s;
	height: 40px;
}

.cal-btn:hover {
	color: #333;
}

/* 가장 위 날짜 */
.calendar-wrapper thead th {
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	/*background-color: #f0f0f0;*/
}

/* 공휴일 red*/
.holiday {
	color: #dc3545 !important;
}
/* 토 blue */
.satday {
	color: #0d6efd !important;
}
/* 활성화되지 않은 색상 연하게 */
.inactive {
	filter: opacity(0.5);
}
/* 달력 한 칸 */
.day {
	height: 60px;
    padding: 0 3px;
    position: relative;
}
/* 상단에 고정시킬 날짜와 공휴일 이름 */
.detail-day {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dateName {
	font-size: 10px;
    word-break: break-word;
    display: block;
}

/* 오늘 날짜 */
.today {
	background: rgb(76 175 80/ 40%);
}

/* 운세 영역*/
.day-result {
	display: block;
	font-size: 0.8em;
}

.month-area > span {display: block;}
.month-area .month {font-size: 16px;}
.month-area .month-info {text-align: center; font-size: 12px;}

/*하단 추가영역*/
.bottom-result {
	font-size: 10px; 
	position: absolute;
	left: 3px;
	bottom: 3px;
}
.inactive .bottom-result {display: none;}
@media (max-width: 480px) {
	.content-layout {width: 100%;}
	#currentDate { font-size: 7vw; }
	.dateName, .bottom-reault  { font-size: 2vw; }
	.detail-day {font-size: 3.5vw;}
	.day {
	height: 14.285vw;}
}

/*
	사주 조회 end
*/

/*
	로그인
*/
.login-wrap {display: flex; flex-direction: column;
align-items: center; justify-content: center;}
.login-wrap h2 {width: 100%; font-size: 18px; margin-bottom: 30px;}
.login-select-wrap {width: 100%; margin-bottom: 10%;}
.login-btn {width: 100%; height: 45px; 
display: flex; align-items: center; justify-content: center;
border-radius: 5px; border: none;}

/*
.login-btn:hover {background-color: var(--main-color); color: var(--white-color);}
*/

.login-btn:not(:last-of-type) {margin-bottom: 10px;}
.kakao-login {background-color: #FFE900;}
.naver-login {background-color: #1EC800; color: var(--white-color);}
/*.google-login {background-color: #4285f4; color: var(--white-color);}*/
.google-login {background-color: var(--white-color); border: 1px solid var(--gray-color);}
.email-login {color: var(--white-color); background-color: var(--main-color);}
/*
	로그인 end
*/

/*
	이메일 로그인
*/
.login-bottom-wrap {font-size: 12px;}
.stay-logged-in-cont {
	display: flex; align-items: center; justify-content: center;
	font-weight: 600;}
.login-bottom-wrap .stay-logged-in-cont {margin-bottom: 10px;}
.join-cont {text-align: center;}
.join-cont > button { margin-left: 10px;}

.login-title > span {display: block; width: 100%; 
text-align: center;}
.login-email-wrap {width: 100%;
	margin-bottom: 10% !important;}
/*.login-email-wrap > input {*/
/*	display: block;*/
/*    width: 100%;*/
/*    height: 45px;}*/
.login-email-wrap > input[type="text"],
.login-email-wrap > input[type="password"]{height: 45px;}
.login-email-wrap > input:not(:last-of-type) {margin-bottom: 10px;}
.login-btn-wrap {width: 100%; margin-bottom: 10% !important;}
.login-btn-wrap .login-btn {margin-bottom: 10px;}

.find-id-pw-cont {font-size: 12px;}
.find-id-pw-cont .text-btn {display: flex; align-items: center;}
.find-id-pw-cont .text-btn:not(:last-of-type):after {
    content: '';
    margin-left: 5px;
    margin-right: 5px;
    width: 1px;
    display: block;
    background-color: var(--black-color);
    height: 12px;
}
.login-btn-wrap .stay-logged-in-cont {font-size: 12px;}
/*
	이메일 로그인 end
*/

/*
	사주정보 입력 start(sajuMain)
*/
/*.new-search-saju > div {width: 100%;}*/
.new-search-saju .gender-cont label,
.new-search-saju .bitrhday-cont label {
	width: 48%; height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;}
.new-search-saju .bitrhday-cont .radio-wrap {margin-top: 5px;}
.new-search-saju .btn-cont {margin-bottom: 0; margin-top: 50px;}
.new-search-saju .btn-cont .search-btn {margin-bottom: 20px;}
/*
	사주정보 입력 end(sajuMainNew)
*/

/*회원가입	*/
.content-layout .title-wrap.back-title {padding: 0; flex-direction: row; justify-content: space-between; 
font-size: 20px; position: relative;}
.content-layout .title-wrap.back-title > h1 {font-size: 20px; text-align: center;}
.content-layout .title-wrap.back-title.big,
.content-layout .title-wrap.back-title.big > h1 {font-size: 30px;}
.back-title .back-btn {position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.join-wrap {justify-content: flex-start;}
.join-check-wrap {width: 100%; margin-bottom: 15%;}
.join-check-wrap .all-check label {font-size: 15px; font-weight: 400; margin-bottom: 5px;}
.join-check-wrap .text-btn {color: #c5c5c5;}

/*개인정보 처리방침, 서비스 이용약관*/
.description-wrap > pre {text-wrap: auto; font-size: var(--saju-body-font-size); word-break: normal;}