@charset "UTF-8";
* {margin: 0; padding: 0; box-sizing: border-box; word-break: keep-all;}
.div-flex-wrap {align-items: flex-start;}

/* 전체적 틀 */
.main-wrap {max-width: 480px; padding: 20px; background-color: #fff;}
.main-wrap > div[class$="wrap"] {margin-bottom: 20px;}

/* 상단 영역(타이틀, 사용자 정보) */
.title-wrap {height: 60px; display: flex; align-items: center;}
.title-wrap > h1 {font-size: 40px; font-weight: 200;}
.user-wrap {display: flex; align-items: center;}
.user-wrap .user-img {width: 80px; height: 80px; overflow: hidden; border-radius: 50%;}
.user-wrap .user-img > img {height: 100%; object-fit: cover; object-position: center;}
.user-wrap .user-info {width: calc(100% - 80px); padding: 0 20px;}
.user-wrap .user-info > span {display: block; font-size: 14px;}
.user-wrap .user-info .user-nm {font-size: 20px;}
.user-wrap .user-info .user-year {}
.user-wrap .user-info .user-birth {}

/* 하단 영역(컨텐츠) */
.content-wrap {}
.content-wrap > div[class$="-cont"] {margin-bottom: 15px;}

/* 컨텐츠 공통 사용 예정 */
.detail-bar {background-color: #524646; color: #fff; font-size: 14px; font-weight: 600; 
padding: 0 10px; height: 40px; display: flex; align-items: center; justify-content: space-between; cursor: pointer;}

.text_black {color: #333!important;}
.text_red {color: #E60000!important;}
.text_green {color: #009C2C !important;}
.text_yellow {color: #D0AF00!important;}
.text_white {color: #fff!important; text-shadow: 0 0 1px #000;}


/* 대운 */
.daeun-cont.on {display: block;}
.daeun-cont {display: none;}
.daeun-wrap {padding: 10px; }
.daeun-wrap .daeun-title {font-weight: 600; margin-bottom: 8px;}
.daeun-wrap .daeun-cont-set {display: flex; justify-content: center;} /* 나란히 정렬 */
.daeun-wrap .daeun-cont-set-flex {display: flex; align-items: center; justify-content: center;} /* 가운 정렬 */
.daeun-wrap .daeun-line {width: 40px; overflow: hidden;}

.daeun-line .daeun-small-title {}
.daeun-line .daeun-small-title > span {display: block; padding: 2px 0; text-align: center; font-size: 10px;}
.daeun-line .daeun-in {background-color: #F4F4F4; display: flex; flex-flow: column; align-items: center; justify-content: center; width: 100%; height: 54px; margin: 2px; border-radius: 5px;}
.daeun-line .daeun-in .daeun-strong {font-size: 20px; font-weight: 600;}
.daeun-line .daeun-in > span {display: block; text-align: center;}
.daeun-line .daeun-in .daeun-small {font-size: 10px;}


/* 팔자 */
.palja-cont {}
.palja-cont .content-area {}
.palja-cont .info-table {width: 100%; table-layout: fixed;}
.palja-cont .content-area th,
.palja-cont .content-area td {text-align: center; vertical-align: middle; border: 1px solid #ccc; border-width: 1px;} 
.palja-cont .info-table .lunar_title {height: 20px;}
.palja-cont .info-table .lunar_title th {font-weight: 400; font-family: initial;}
.palja-cont .info-table .lunar_title th:not(:farst-of-type),
.palja-cont .info-table .lunar_title th:not(:last-of-type) {border-color: transparent; border: none;}

.palja-cont .info-table .lunar_cont_top td {height: 80px; font-size: 24px; font-weight: 600;}
.palja-cont .info-table .lunar_cont_bottom td {height: 20px;}


/* 달력 */
/* CSS 달력  */
.calendar-container {
	width: 100%;
}

#resultCalendar {
	padding: 5px;
}

.calendar-header {
	display: flex;
	justify-content: center;
	margin: 20px 20px 10px 20px;
	font-size: 20px;
	align-items: center;
}

#calendar {
	max-width: 1200px;
	margin: 20px;
}

/* #currentDate에 flex-grow: 1을 사용하여 가능한 공간을 모두 차지하게 하고 텍스트를 중앙에 정렬. */
#currentDate {
    text-align: center;
    font-size: 36px;
    line-height: 1;
}

/*월 변경 버튼*/
.cal-btn {
	color: #ccc;
	border: none;
	border-radius: 4px;
	padding: 5px 20px;    
	background-color: transparent;
	transition: background-color 0.3s;
	height: 40px;
}

.cal-btn:hover {
	color: #333;
}

/* 가장 위 날짜 */
.calendar-wrapper thead th {
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	/*background-color: #f0f0f0;*/
}

/* 공휴일 red*/
.holiday {
	color: #dc3545 !important;
}
/* 토 blue */
.satday {
	color: #0d6efd !important;
}
/* 활성화되지 않은 색상 연하게 */
.inactive {
	filter: opacity(0.5);
}
/* 달력 한 칸 */
.day {
	height: 60px;
    padding: 0 3px;
    position: relative;
}
/* 상단에 고정시킬 날짜와 공휴일 이름 */
.detail-day {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dateName {
	font-size: 10px;
    word-break: break-word;
    display: block;
}

/* 오늘 날짜 */
.today {
	background: rgb(76 175 80/ 40%);
}

/* 운세 영역*/
.day-result {
	display: block;
	font-size: 0.8em;
}

.month-area > span {display: block;}
.month-area .month {font-size: 16px;}
.month-area .month-info {text-align: center; font-size: 12px;}

/*하단 추가영역*/
.bottom-result {
	font-size: 10px; 
	position: absolute;
	left: 3px;
	bottom: 3px;
}
.inactive .bottom-result {display: none;}
@media (max-width: 480px) {
	.main-wrap {width: 100%;}
	#currentDate { font-size: 7vw; }
	.dateName, .bottom-reault  { font-size: 2vw; }
	.detail-day {font-size: 3.5vw;}
	.day {
	height: 14.285vw;}
}